/* ===== scrollbars.css =================================================
  == Styles used by XUL scrollbar-related elements.
  ======================================================================= */

/*
	File: aqua_scrollfix_topbottom.jar/global/scrollbars.css
	
	for more information please see http://hostilefork.com/2007/11/06/workaround-firefox-scrollbar-bug-on-mac/
	adapted from the work of other mac-like themes by Kelly Cunningham <kelly@webether.com> and Alex W. <lucx@shaw.ca>
	
*/

/* ::::: boilerplate that you need to have ::::: */

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");
scrollbar {
	-moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar");
	cursor: default;
}


/* ::::: vertical scrollbar ::::: */

	/* :: background :: */
	
	scrollbar[orient="vertical"] {
		width: 15px;
		padding: 0px !important;
		margin: 0px !important;
		background: url("chrome://global/skin/scrollbar/vertical-background.png") no-repeat;
	}

	/* :: up button :: */
	
	scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
		margin-bottom: -9px; /* encroach on the thumb's territory below to give visual effect of "nestling" */
		min-width: 15px;
		min-height: 24px;
		background: url("chrome://global/skin/scrollbar/up.png") no-repeat;
	}
		
	scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"]:hover:active {
		background: url("chrome://global/skin/scrollbar/up-active.png") no-repeat;
	}
	
	/* :: thumb :: */
	
	thumb[orient="vertical"] {
		min-height: 24px;
		background:url("chrome://global/skin/scrollbar/vertical-thumb.png") no-repeat;
	}
	
	thumb[orient="vertical"] > gripper {
		-moz-box-flex: 1;
		top: 12px;
		width:15px;
		background:url("chrome://global/skin/scrollbar/vertical-thumb-bottom.png") no-repeat;
		background-position: bottom left;  /* cap should overwrite the thumb's bottom edge*/
	}

	/* :: down button :: */

	scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
		position: absolute; /* doesn't affect position, but causes to draw in front of z-order so that curved pieces "nestle" */
		margin-top: -9px; /* encroach on the thumb's territory above to give visual effect of "nestling" */
		min-width: 15px;
		min-height: 24px;
		background: url("chrome://global/skin/scrollbar/down.png") no-repeat;
	}
	
	scrollbar[orient="vertical"] > scrollbarbutton[type="increment"]:hover:active {
		background: url("chrome://global/skin/scrollbar/down-active.png") no-repeat;
	}
	
	/* ::::: explicitly set to have buttons separated on top and bottom of the thumb ::::: */

	scrollbar[orient="vertical"] > scrollbarbutton[sbattr="scrollbar-up-top"] {
		display: -moz-box !important;
	}
		
	scrollbar[orient="vertical"] > scrollbarbutton[sbattr="scrollbar-up-bottom"] {
		display: none !important;
	}
		
	scrollbar[orient="vertical"] > scrollbarbutton[sbattr="scrollbar-down-top"] {
		display: none !important;
	}
		
	scrollbar[orient="vertical"] > scrollbarbutton[sbattr="scrollbar-down-bottom"] {
		display: -moz-box !important;
	}


/* ::::: horizontal scrollbar ::::: */

	/* :: background :: */
	
	scrollbar[orient="horizontal"] {
		height: 15px;
		padding: 0px !important;
		margin: 0px !important;
		background: url("chrome://global/skin/scrollbar/horizontal-background.png") no-repeat;
		}
	
	/* :: left button :: */
	
	scrollbar[orient="horizontal"] > scrollbarbutton[type="decrement"] {
		margin-right: -9px; /* encroach on the thumb's territory at right to give visual effect of "nestling" */
		min-width: 24px;
		min-height: 15px;
		background: url("chrome://global/skin/scrollbar/left.png") no-repeat;
	}
	
	scrollbar[orient="horizontal"] > scrollbarbutton[type="decrement"]:hover:active {
		background: url("chrome://global/skin/scrollbar/left-active.png") no-repeat;
	}
	
	/* :: thumb :: */
	
	thumb[orient="horizontal"] {
		min-width: 24px;
		background: url("chrome://global/skin/scrollbar/horizontal-thumb.png") no-repeat;
	}
	
	thumb[orient="horizontal"] > gripper {
		-moz-box-flex: 1;
		height: 15px;
		background: url("chrome://global/skin/scrollbar/horizontal-thumb-right.png") no-repeat;
		background-position: top right; /* cap should overwrite the thumb's right edge */
	}
	
	/* :: right button :: */
	
	scrollbar[orient="horizontal"] > scrollbarbutton[type="increment"] {
		position: absolute; /* doesn't affect position, but causes to draw in front of z-order so that curved pieces "nestle" */
		margin-left: -9px; /* encroach on the thumb's territory at left to give visual effect of "nestling" */
		min-width: 24px;
		min-height: 15px;
		background: url("chrome://global/skin/scrollbar/right.png") no-repeat;
	}
		
	scrollbar[orient="horizontal"] > scrollbarbutton[type="increment"]:hover:active {
		background: url("chrome://global/skin/scrollbar/right-active.png") no-repeat;
	}
	
	/* ::::: explicitly set to have buttons separated on left and right of the thumb ::::: */

	scrollbar[orient="horizontal"] > scrollbarbutton[sbattr="scrollbar-up-top"] {
		display: -moz-box !important;
	}
		
	scrollbar[orient="horizontal"] > scrollbarbutton[sbattr="scrollbar-up-bottom"] {
		display: none !important;
	}
		
	scrollbar[orient="horizontal"] > scrollbarbutton[sbattr="scrollbar-down-top"] {
		display: none !important;
	}
		
	scrollbar[orient="horizontal"] > scrollbarbutton[sbattr="scrollbar-down-bottom"] {
		display: -moz-box !important;
	}



/* ::::: square at the corner of two scrollbars ::::: */

scrollcorner {
	background-color: #FFFFFF;
}


/* (NOTE: Beyond this point, the css comes from classic.jar/global/scrollbars.css) */


/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
/* ::::::::::::::::::::: MEDIA PRINT :::::::::::::::::::::: */
/* :::::::::::::::::::::::::::::::::::::::::::::::::::::::: */
@media print {
  /* ::::: scrollbar ::::: */

  html|div scrollbar {
    -moz-appearance: scrollbartrack-horizontal;
    -moz-binding: url("chrome://global/content/bindings/scrollbar.xml#scrollbar");
    cursor: default;
    background: url("chrome://global/skin/scrollbar/slider.gif") scrollbar;
  }

  html|div scrollbar[orient="vertical"] 
  {
     -moz-appearance: scrollbartrack-vertical;
  }

  /* ::::: borders for thumb and buttons ::::: */

  html|div thumb,
  html|div scrollbarbutton {
    border: 2px solid;
    -moz-border-top-colors: ThreeDLightShadow ThreeDHighlight;
    -moz-border-right-colors: ThreeDDarkShadow ThreeDShadow;
    -moz-border-bottom-colors: ThreeDDarkShadow ThreeDShadow;
    -moz-border-left-colors: ThreeDLightShadow ThreeDHighlight;
    background-color: -moz-Dialog;
  }

  /* ::::: thumb (horizontal) ::::: */

  html|div thumb {
    -moz-appearance: scrollbarthumb-vertical;
    min-height: 8px;
  }

  html|div thumb[orient="horizontal"] {
    -moz-appearance: scrollbarthumb-horizontal;
    min-width: 8px;
  }

  html|div thumb > gripper {
    -moz-appearance: scrollbargripper-vertical;
  }

  html|div thumb[orient="horizontal"] > gripper {
    -moz-appearance: scrollbargripper-horizontal;
  }

  /* ::::: scrollbar button ::::: */

  html|div scrollbarbutton {
    background: -moz-Dialog no-repeat 0px 1px;
    min-width: 16px;
    min-height: 16px;
  }

  html|div scrollbarbutton:hover:active {
    -moz-border-top-colors: ThreeDShadow -moz-Dialog;
    -moz-border-right-colors: ThreeDShadow -moz-Dialog;
    -moz-border-bottom-colors: ThreeDShadow -moz-Dialog;
    -moz-border-left-colors: ThreeDShadow -moz-Dialog;
    background-position: 1px 2px;
  }

  /* ..... increment .... */

  html|div scrollbarbutton[type="increment"] {
    -moz-appearance: scrollbarbutton-right;
    background-image: url("chrome://global/skin/arrow/arrow-rit.gif")
  }

  html|div scrollbarbutton[type="increment"][disabled="true"] {
    background-image: url("chrome://global/skin/arrow/arrow-rit-dis.gif")
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="increment"] {
    -moz-appearance: scrollbarbutton-down;
    background-image: url("chrome://global/skin/arrow/arrow-dn.gif")
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="increment"][disabled="true"] {
    background-image: url("chrome://global/skin/arrow/arrow-dn-dis.gif")
  }

  /* ..... decrement .... */

  html|div scrollbarbutton[type="decrement"] {
    -moz-appearance: scrollbarbutton-left;
     background-image: url("chrome://global/skin/arrow/arrow-lft.gif")
  }

  html|div scrollbarbutton[type="decrement"][disabled="true"] {
     background-image: url("chrome://global/skin/arrow/arrow-lft-dis.gif")
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"] {
    -moz-appearance: scrollbarbutton-up;
     background-image: url("chrome://global/skin/arrow/arrow-up.gif")
  }

  html|div scrollbar[orient="vertical"] > scrollbarbutton[type="decrement"][disabled="true"] {
     background-image: url("chrome://global/skin/arrow/arrow-up-dis.gif")
  }

}
